.navbar{
  display: flex;
  position: relative;
}
.navbar-nav{

}
.navbar-brand{
  color: rgb(70, 69, 69);
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
}
.navbar-brand span{
  color: #fb1f1f;
}