*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'DaFont', sans-serif;
    scroll-behavior: smooth;
}

p{
    font-weight: 300;
    color: rgb(78, 77, 77);
}

header{
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 20px 10px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
}

header{
    position: fixed;
    top: 0%;
    left: 0%;
    padding: 20px 10px;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: 0.5s;
}

.logo{
    color: rgb(70, 69, 69);
    font-weight: bold;
    font-size: 2em;
    text-decoration: none;
}
.logo span{
    color: #fb1f1f;
}
.search{
   /* position: fixed;*/
    border-radius: 60em;
    background: #f4f4f4;
    float: right;
    padding: 6px;
   
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    padding: 7px, 16px,7px,40px;
}
.navbar{
    display: flex;
    position: relative;
}
.navbar li{
    list-style: none;
}
.navbar a{
    color: rgb(20, 19, 19);
    text-decoration: none;
    margin-left: 30px;
    font-weight: 700;
}
.btn-signup{
        padding: 10px 20px;
        background: #fffefeee;
       margin-top: -10px;
       text-transform:uppercase ;
       border-radius: 100em;
       border: transparent;
    }
 
/* Dropdown Button */
.dropbtn {
    
    color: white;
    padding: 16px;
    font-size: 16px;
    
    cursor: pointer;
  }
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
  .banniere{
    padding-left: 8%;
    position: relative;
    width: 59%;
    min-height: 50vh;
    display: flex;
    justify-content: left;
    align-items: center;
    background-size: cover;
    text-align: justify;
  }
  .banniere .contenu .text-contenu h1{
    max-width: 100%;
    text-align: center;
    text-justify:distribute-all-lines ;
    color: #fb1f1f;
    font-size: 3.3em;
    text-align: justify;
    
  }
  .banniere p {
    text-justify: auto;
    font-size: 1em;
    text-align: justify;
    margin: 2%;
  }
  .banniere p span{
    color: #fb1f1f;
  }
  .banniere .our-changes{
    height: 2em;
    border-radius: 20px;
    background: #dd2020;
    color: #f1f1f1;
    float: left;
    padding: 6px;
    font-size: 17px;
  }
  .banniere .hots-changes{
    border-radius: 20px;
    background: #f4f4f4;
    float: left;
    padding: 6px;
    font-size: 17px;
   
  }
  .statistique{
    float: left;
    max-width: 1300px;
    width: 80%;
    height: auto;
    margin: 30px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill,300px);
    justify-content: center;
    grid-gap: 10px;
  }
  .statistique .grid-item{
    width: ;
  }